body {
    background-color: #d5ecc2;
}

hr {
  
  
  border-style:none;
  border-top-style: dotted;
  width: 5%;
  border-width: 5px;
  border-color: gray;
  background-color: #d5ecc2;
  ;
  
}
h3{
    color: #66BFBF;
}
h1{
    color:#66BFBF;
}
h2{
    color:#66BFBF;
}

.image:hover {
    background-color: red;
    transition: 3s;
    border-radius:  100%;
     
}

.update:hover {
    color : blue;
    background-color: #66BFBF;
    background-image: red;
    transition: 0.6s;
    width: 27%;
    
}
